body.Events {
    font-family: Arial;
    background-color: white;
    margin: 0;
    padding: 0;
    margin: 0px;
    background-size: cover;
}

div.containerEvent {
    font-family: Arial;
    padding: 20px;
}