body.reg {
    font-family: Verdana;
    background-color: black;
    margin: 0;
    padding: 0;
    margin: 0px;
    background-size: cover;
}
  
  
button.reg {
    background-color: rgb(43, 86, 202);
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
button.reg:hover {
    opacity: 1;
}

.colorDiv2 {
    background-color: rgb(255, 255, 255, 0.9);
}

.container {
    padding: 100px
}

.book1-background{
    background-image: url('../../assets/book1.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    padding: 50px;
}