.ChurchDirCardList li{
    color: black;
}

.sidebarContainercd {
  background-color: rgb(245, 245, 220, 0);
  float: left;
  width: 300px;
}

.sidebarcd {
    width: 300px;
    float: left;
    top: 0;
    left: 0;
    padding-top: 0px;
    border-color: grey;
    overflow-y: auto;
    height: 74vh;
  }

  /* The navigation menu links */
.sidebarcd a {
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    background-color: rgb(255, 255, 240, .9);
    display: block;
    border-color: #000000;
    border-width: 1px;
    cursor: pointer;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    overflow: auto;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebarcd a:hover {
    color: #000000;
    background-color: rgb(245, 245, 220, .9);
    font-weight: bold;
  }

  .welcomecd {
      font-size: 40px;
      width: 90vw;
      padding-left: 20px;
      font-family: 'Palatino Linotype';
      background-color: rgb(255, 255, 240, 1);
      color:black;
      text-align: center;
      margin-top: 120px;
      min-width: 1214px;
      position: fixed;
      margin-left: 5vw;
      height: 60px;
  }

  .fullscreencd {
    height: 100vh;
    width: 100vw;
    text-align: center;
  }

  .contentContainercd {
    width: 90vw;
    height: 75vh;
    margin-left: 5vw;
    margin-top: 180px;
    min-height: 600px;
    min-width: 1214px;
    background-color: rgb(255, 255, 240, .9);
    border-top-style: solid;
    border-width: 1px;
    text-align: left;
    position: fixed;
  }

  .churchDisplaycd {
    float: left;
    text-align: left;
    position: fixed;
    margin-top: 20px;
    font-size: 20px;
    width: 45vw;
    padding-left: 40px;
    margin-left: 300px;
    width: 40%;
    min-width: 550px;
  }

  .churchImagecd {
    margin: 20px;
    height: 250px;
    width: 350px;
    
    background-size: contain;
    opacity: 1;
    float: right;
  }

  .churchDisplaycd missionStatement {
    font-family: 'Palatino Linotype';
    font-size: 25px;
  }

  .churchDisplaycd chName {
      font-size: 35px;
  }

  .churchDisplaycd chDetail {
    padding-left: 40px;  
    font-size: 15px;
    display: inline-block;
  }

  .unscrollcd {
    background-image: url('../../assets/cathedral1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
