.ChurchDirCardList li{
    color: black;
}

.sidebar {
    width: 25%;
    min-width: 300px;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 0px;
    border-top-style: solid;
    border-width: 1px;
    border-color: grey;
  }

  /* The navigation menu links */
.sidebar a {
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    background-color: #dddddd;
    display: block;
    border-color: #000000;
    border-width: 1px;
    cursor: pointer;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #000000;
    background-color: #f1f1f1;
    font-weight: bold;
  }

  .sidebar a:click {
    color: #000000;
    background-color: #f1f1f1;
    font-weight: bold;
  }

  .welcome {
      font-size: 40px;
      display: block;
      text-align: center;
      border-top-style: solid;
      border-bottom-style: solid;
      border-width: 2px;
  }

  .fullscreen {
    padding: 40px;
    height: 100vh;
    width: 100vw;
  }

  .churchDisplay {
    display: inline-block;
  }

  .churchDisplay img {

  }

  .churchDisplay chName {
      padding-left: 10px;
      font-size: 30px;
      font-weight: bold;
      display: inline-block;
  }

  .churchDisplay chDetail {
    padding-left: 10px;  
    font-size: 15px;
    display: inline-block;
  }

  .filterbox {
    float: right;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    height: 400px;
    width: 250px;
    overflow-x: hidden;
  }

  .whitespace {
    background: white;
    float: right;
    display: block;
    padding-right: 20px;
    width: 270px;
    height: 420px;
  }

  .filterheader {
    font-weight: bold;
    width: 100%;
    font-size: 25px;
    padding-left: 5px;
  }