body.header{
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: white;
}

/*https://www.w3schools.com/howto/howto_js_topnav.asp*/

.navbar{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    opacity: 0.75;
    width: 100%;
    height: 70px;
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 10%;
    
}
.nav button{
    margin: 15px;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    font-size: 18px;
    color: gray;
}
.nav button:hover{
    opacity: 0.5;
    color: gray;
    cursor: pointer;
}

.navbar .logo{
    font-size: 30px;
    color: black;
    list-style: none;
    flex: 1 1 auto;
    margin-left: 5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;

}
.logo {
        padding-left: 50px;
}